extends agcs-overview

block parcelized-agc-content

      div Data from the retreived parcelized AGC

      .data-container
         div= JSON.stringify(parcelizedAgcData)
         .summaries
            .num-farmers
               div Num. Farmers
               #num_farmers.aggr-data= parcelizedAgcData.features.length
            .allocated-hectares
               div Total Allocation
               if parcelizedAgcData.properties
                  if parcelizedAgcData.properties.total_allocation
                     #total_allocation.aggr-data= parcelizedAgcData.properties.total_allocation
               else 
                  #total_allocation.aggr-data -
            .grid-cell-size
               div Delineated Area
               if parcelizedAgcData.properties
                  if parcelizedAgcData.properties.agc_area
                     #shapefile_area.aggr-data= parcelizedAgcData.properties.agc_area
               else 
                  #shapefile_area.aggr-data -
            .cells-per-hectare
               div Unused Land
               if parcelizedAgcData.properties
                  if parcelizedAgcData.properties.unused_land_area
                     #unused_land.aggr-data= parcelizedAgcData.properties.unused_land_area
               else 
                  #shapefile_area.aggr-data fuck
         .user-feedback-container
            #chunk_coords_listing.chunk-coords-listing