extends index

block parcelized-agcs

	//- PAGE HEADER
	//- include _header

	.api-guide-container

		//- img(src="/images/parcelized-agc-data-struc.png" alt="alt")

		.embedded-code-snippet

			br
			h2 Using the Parcelized AGCs API
			br

			.credentials-container
				div.token-subtitle Public API Key 
				br
				div.token-code ADSS=23232AD=ASDIO293-MLK23290-23AD.235DS554S5_4409IODSO

			h3 Performing a GET Request
			p The code snippet below shows how to get data from the Parcelized AGCs API using an asynchronous Fetch API GET request. It is implemented in modern JavaScript (ES6/ES2017), and uses object-oriented programming concepts. It returns all the parcelized AGCs from the database in a promise.

			pre.get-request-snippet
				code.language-javascript.
					// Set up the API call function
					async function getParcelizedAgc(agcID) {
						try {
							const apiResponse = await fetch(`https://agcfarmlands.herokuapp.com/api/v1/parcelized-agcs/${agcID}`);
							const data = await apiResponse.json();
							return data;
						} 
						catch (error) {
							console.error(error.message);
						};
					};

					// Execute the API call
					getParcelizedAgc('5f540c5d72c03314fcc79fc9')
						.then(function(data) {
							console.log(JSON.stringify(data));
							}
						)

			br
			h3 Sending a POST Request (using an XML HTTP Request)
			p The snippet below shows how to persist AGC JSON data to the API database using XMLHttpRequest().

			pre
				include _xml-request-snippet
				br

			br
			h3 Sending a POST Request (using the Fetch API)
			p The snippet below shows an alternate method to persist AGC JSON data to the API database using an asynchronous Fetch API call.

			pre
				//- .devsite-code-buttons-container
				//- 	button.gc-analytics-event.material-icons.devsite-icon-code-dark.devsite-toggle-dark(type='button' data-category='Site-Wide Custom Events' data-label='Dark Code Toggle' track-type='exampleCode' track-name='darkCodeToggle' aria-label='Dark code theme' data-title='Dark code theme')
				//- 	button.gc-analytics-event.material-icons.devsite-icon-code-light.devsite-toggle-light(type='button' data-category='Site-Wide Custom Events' data-label='Light Code Toggle' track-type='exampleCode' track-name='lightCodeToggle' aria-label='Light code theme' data-title='Light code theme')
				//- 	button.gc-analytics-event.material-icons.devsite-icon-copy(type='button' data-category='Site-Wide Custom Events' data-label='Click To Copy' track-type='exampleCode' track-name='clickToCopy' aria-label='Copy code sample to clipboard' data-title='Copy code sample to clipboard')

				include _fetch-request-snippet
				br

			h3 Sample AGC JSON Data Structure
			pre.agc-json-data-ex
				include _agc-json-data-example


	.agcs-overview-container

		br
		br
		h2.subtitle= `Parcelized AGCs (${parcelizedAgcsData.length} AGCs)`
		br

		//- LOOP THRU ALL THE AGCS
		each parcelizedAgc in parcelizedAgcsData

			section.agc-cards-container

				main.agc-card

					div.agc-card-header= `${parcelizedAgc.properties.location || 'Nigeria'}`

					br

					div.agc-card-summary
						div.agc-id AGC ID
							div
							a(href=`parcelized-agc/?${parcelizedAgc.properties.agc_id}`)= `${parcelizedAgc.properties.agc_id}`
						div.agc-area AGC Area
							div= `${parcelizedAgc.properties.agc_area.toFixed(1)} ha.`
						//- div.center-coords
						//- div= parcelizedAgc.properties.agc_center_coords
						div.total-allocation Allocations
							div= `${parcelizedAgc.properties.total_allocation.toFixed(1)} ha.`
						div.unused-land Unallocated
							div= `${parcelizedAgc.properties.unused_land_area.toFixed(1)} ha.`

					br

					div.agc-card-features-header Farmers

					br

					div.agc-features-container

						each feature in parcelizedAgc.features	
							div.agc-feature
								div.plot-farmer-id= feature.properties.farmer_id
								//- div= feature.properties.plot_id
								div= `${feature.properties.chunk_size} hectares`
								div= `Lng ${feature.properties.center_lng.toFixed(5)}°E Lat ${feature.properties.center_lat.toFixed(5)}°N`
					//- br