extends index

block parcelized-agcs-overview

	//- include _header.pug
	include _navbar.pug

	.agcs-overview-container

		h2.subtitle= `Parcelized AGCs (${parcelizedAgcsData.length} AGCs)`
		p.standalone.note Click on the AGC IDs to preview the farm cluster maps.
		//- p These examples below demostrate how groups of farmers farming collectively in agro geo-clusters (AGCs) have used our entirely web-based tool to quickly, precisely and digitally divvy up their aggregate land among their members; a process that has helped eliminate land boundary disputes, and sped up their access to funding.
		//- br

		//- LOOP THRU ALL THE AGCS
		each parcelizedAgc in parcelizedAgcsData

			section.agc-cards-container

				main.agc-card

					div.agc-card-header
						div= `${parcelizedAgc.properties.agc_extended_name}`
						div= `${parcelizedAgc.properties.agc_location}`

					br

					div.agc-card-summary
						div.agc-id AGC ID
							div
							//- a(href=`/parcelized-agc/?${parcelizedAgc.properties.agc_id}`)= `${parcelizedAgc.properties.agc_id}`
							a(href=`/api/demo/parcelized-agc/?${parcelizedAgc.properties.agc_id}`)= `${parcelizedAgc.properties.agc_id}`
						div.agc-area AGC Area
							div= `${parcelizedAgc.properties.agc_area.toFixed(1)} ha.`
						//- div.center-coords
						//- div= parcelizedAgc.properties.agc_center_coords
						div.total-allocation Allocations
							div= `${parcelizedAgc.properties.total_allocation.toFixed(1)} ha.`
						div.unused-land Unallocated
							div= `${parcelizedAgc.properties.unused_land_area.toFixed(1)} ha.`

					br

					div.agc-card-features-header Farmers

					br

					div.agc-features-container

						each feature in parcelizedAgc.features	
							div.agc-feature
								.feature-text-container
									div.plot-owner-name= feature.properties.owner_name
									div= `${feature.properties.chunk_size} ha.`
									div.plot-owner-id= `${feature.properties.owner_id}`
									div= `VAsT_ID ${feature.properties.chunk_id}`
									//- div= `Lng ${feature.properties.center_lng.toFixed(4)}°E Lat ${feature.properties.center_lat.toFixed(5)}°N`
								.feature-owner-avatar-container
									img(src=`${feature.properties.owner_photo_url === 'undefined' ? "/images/icon-user.png" : feature.properties.owner_photo_url}`, alt="Plot Owner Photo" srcset="")
									//- img(src="/images/icon-user.png" alt="Plot Owner Photo" style="max-width:100%;")
					//- br